/*markup*/

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 450px;
    outline: 1px solid orange;
  }

@media screen and (min-width: 768px) {
  .container {
   width: 738px;
    
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
      padding-top: 60px;
      padding-bottom: 60px;
    }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px){
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
@media screen and (min-width: 1200px){
.container-footer {
    display: flex;
    align-items: baseline;
    width: 100%;

    &:last-child {
      margin-right: 0px;
    }

    outline: 1px solid tomato;
  }
}

